main {
    -webkit-app-region: drag;
    padding: 0 2em;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 80vw;

    margin: auto;
}
body{
    --main-text-color: #ffffff;
    background-image:url('./bg.jpg') !important
}

button, input, p, .column  {
    -webkit-app-region: no-drag;
}

#server_info_container>input {
    margin: 0.25em 1em;
}

#server_info_container label{
    margin:1em 1em 0.25em 1em;
}


.peer_node {
    padding: 1em 1.75em;
    border-radius: var(--rounded-corners);
}

.peer_name {
    font-size: 1.5em;
    padding: 0;
    margin: 0.5em;
}

.peer_node .checkmark {
    background-color: var(--main-success-color-lighter);
}

.peer_node .container_for_checkbox:hover input~.checkmark {
    background-color: var(--main-success-color-lighter);
}

.peer_node .container_for_checkbox input:checked~.checkmark {
    background-color: var(--main-success-color-lighter);
}

.peer_node label, .peer_node p {
    color: white;
}

.peer_connected {
    background-color: var(--main-success-color);
}
#invite_link_button{
    margin:auto;
    text-align: center;
    margin-top:1em;
}
#regenerate_host_id_button{
    background: transparent;
    border: none;
    height: 1.75em;
    width: 1.75em;

    background-image: url(../css/img/refresh.png);
    background-size: contain;
    margin-left: 0.25em;
    margin-top: 1em;
}

.server_id {
    cursor: pointer;


}

input{
    text-align: center;
    border-radius: var(--rounded-corners);
}

#server_activity_log {
    background-color: white;
    border-radius: var(--rounded-corners);
    padding: 1em;
    height: 25vh;
    overflow: scroll;
    margin: 1em 0;
}

.server_activity_log_timestamp {
    margin: 0 1em 0 0;

}

.server_activity_log_entry {
    padding: 0;
    margin: 0;
}

.server_activity_log .log_entry_connected {
    color: var(--main-success-color);
}

.server_activity_log .log_entry_error {
    color: var(--color-red);
}

.server_activity_log_entry, .server_activity_log_timestamp {
    color:#333;
}