.rumor_row {
    transition:all var(--transition-delay);
    padding-left:1em;
    box-sizing: border-box;
}

.main_content_wrapper{
    display:flex;
    flex-flow: row nowrap;
}

#taverns{
    background-image: url(img/tavern-sign.png);

}

#npc{
    background-image: url(img/viking-head.png);
}
#shops{
    
    background-image: url(img/scales.png);
}
#customize{
    background-image: url(img/gear-hammer.png);
}

.section__tool__large {
    width:100%;
    height:100%;
    overflow: hidden;
}
.rumor_row:hover {
    border-left: 0.2em solid var(--main-underline-color);
    box-sizing: border-box;
}

.rumor_row .rumor_row_name,  .rumor_row_description {
    font-family: "bookSanity";
}

.rumor_row_rumor{
 
    margin-left:1em;
    font-size: 1.25em;
    font-style: italic;
}
@media (min-width: 884px) {
    #tavern_rumors {
        margin-left: 2em;
      
    }
    .table_and_rumors{
        flex-flow: row nowrap !important;
        
    }
    #tavern_rumors>div>h2 {
        padding: 0;
        margin: 0;
    }
}

.generator_reroll_container {
    display: flex;
    position: relative;
}

.generate_button{
    width:100%;
   
}
.generate_button:first-child{
    margin-top:3em;
}
#regenerate_name_button{
    margin-top: 7.25em;
}

.regenerate_button {
    border: none;
    margin-left: -2em;
    margin-right: 0.5em;
    background-image: url(img/refresh.png);
    border-radius: 50%;
    transition: all 300ms;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 20px;
    width: 20px;
}

.regenerate_button:hover {
    background-color: var(--main-emphasis-color);
}

.creature_generation_buttons {
    margin-bottom: 12px;
}

.creature_generation_buttons>button {
    padding: 6px;
    font-size: 14px;
    min-width: 110px;
    width: 50%;
}

select {
    font-family: var(--basic-font);
}

#random_table_dump {
    white-space: pre;
    width:100%;
}
#random_table_name_input{
    padding:5px;
}

.generator_customization_section textarea{
    min-height:100px;
}

.explaination_text{
    font-size: 13px;
    color: darkslategray;
    cursor:help;
}

.generator_header {
    height: 117px;
}

.random_table_followup_input, .encounter_set_add_creature {
    border: none;
    background-color: transparent;
    text-align: center;
}

.table_and_rumors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1em;
}


.customize_tab_row {
    top: 0;
    left: 0;
    position: absolute;
    height: 35px;
}
#generated_npc_profession{
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-style: italic;
    font-family: var(--basic-font);

}
#generated_npc_name{
    font-size:2em;
    padding-top:2em;
    margin-bottom: 0.25em;
}
#tavern_description>p:first-of-type>strong::first-letter{
    line-height: 2;
}
.shop__name {

    color: black;
    padding-top: 2em;
    text-align: left;
    font-size: 20px;
    color:var(--main-header-color);
    padding-top: 60px;
}

path {
    fill: transparent;
}

#tavern_table, #shop_table {
    min-width: 20em;
}

#tavern_name, #shop_name {
    font-family: var(--header-font);
  
    white-space: "pre";
    overflow: visible;
    font-size:2em;
}

.generator_tab {
    margin-top: -6px;
}

#generator_type_dropdown_chosen {
    margin-top: 21px;
    margin-left: 5px;
}

.genchooser_larger {
    max-width: 85%;
    width: 63%;
    overflow:scroll;
}

.generator_customization_section input {
    width: 100%;
}

.genchooser_smaller {
    max-width: 250px;
    width: 250px;
    position:relative;
}

.genname {
    background: none;
}

.hidden {
    display: none;
}

th {
    cursor: pointer;
}

#shop_generator_table>table>thead>tr>th:hover {
    background-image: url("img/arrow.png");
}

#shop_generator_table>table>thead>tr>th {
    background-position: right;
    background-size: 10px;
    background-repeat: no-repeat;
}

.edit_button {
    background-color: transparent;
    border: none;
    background-image: url(img/quill.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    margin-top: 4px;
    width: 17px;
    margin-left: 0px;
    display: none;
    z-index: 1;
}

.edit_button:hover {
    background-image: url("img/quillH.png");
}

.treeview_attribute:hover>.edit_button {
    display: block;
}

.treeview_attribute {
    display: flex;
}

.treeview_attribute>input {
    width: 100%;
    padding: 4px;
}

.treeview_attribute>p {
    margin: 2px;
    color: var(--main-color);
    font-family: var(--basic-font);
}

/* Tree view */

/* Remove default bullets */

.treeview_list li {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */

.treeview_list {
    margin: 0;
    padding: 0;
}

.treeview_nested:empty {
    height: 20px;
}

/* Style the caret/arrow */

.treeview_caret {
    cursor: pointer;
    color: black;
    font-family: var(--basic-font);
    user-select: none;
    flex: 0 0 100%;

}

.treeview_caret li {
    font-family: var(--basic-font);
    font-weight: normaL;
}

.treeview_active li:not(.treeview_attribute){
    width:100%;
}

/* Create the caret/arrow with a unicode, and style it */

.treeview_caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.treeview_caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */

.treeview_nested {
    display: none;
}

.new_treeview_attribute{
    background-color:#e9e3e3;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.treeview_active>.treeview_attribute:not(.new_treeview_attribute){
    background-color: white;
}

.treeview_active>.treeview_attribute{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
}
.treeview_active {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    margin-bottom: 5px;
}

#customize_table tr .remove_button{
    display:none;
    position:absolute;

    margin-top: 0.5em;
    margin-left: -1.5em;
}
#customize_table tr:hover .remove_button{
    display:flex;
}
