/* Outer */

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
  overflow: scroll;
}

/* Inner */

.popup-inner {
  margin-bottom: 10px;
  max-width: 85vw;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 500px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background-image: var(--foreground-image);
  background-color: var(--foreground-color);
}

.popup-inner>h2 {
  text-align: center;
}

/* Inner */

.popup-inner>section {
  display: flex;
  flex-flow: column nowrap;
}
.link_button[data-linked="true"]{
  background-color:var(--main-success-color) !important;
}
.link_button{
  background-image: url(img/link.png);
  background-size: contain;
  border: none;
  background-color: transparent;
  background-position: center;
  height: 2.25em;
  width: 2.25em;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -2.5em;
  margin-top: 0.5em;
  background-color: var(--main-color);
 
  border-radius: 50%;
}

.pcform_bottom_row {
  position: relative;
  justify-content: flex-end;
  display:flex;
}

.pcRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row nowrap;
  font-family: "bookSanity";
  font-size: 12px;
  padding: 2px;
}

.pcRow:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.pcRow>input, .pcRow>textarea {
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  text-align: center;
  width: 90px;
  min-width: 90px;
}

.pcRow>textarea {
  height: 2em;
}

.xpRow>input {
  width: 90px;
  border: 1px solid black;
}

.playerRow__expl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 66em;
  margin: auto;
}

.pc_input_character_token:hover {
  filter: drop-shadow(0 0 3px white);
}

.pc_input_character_token {
  object-fit: contain;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.pc_input_background_color {
  border-radius: 50%;
  max-width: 25px !important;
  min-width: 25px !important;
  max-height: 25px !important;
  min-height: 25px !important;
  margin: 0.5em;
}

.playerRow__expl>input {
  max-width: 90px;
  background-color: transparent;
  font-size: 0.8em;
  border: none;
  color: var(--main-text-color);
  font-weight: normal;
}

.partyStats {
  width: 66em;
  margin: auto;
}

.no_party_loaded {
  background-image: url("img/party.png") !important;
}

.change_party_button {
  background-image: url("img/partyRed.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20px;
  min-width: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.change_party_button:hover {
  background-image: url("img/partyRedH.png");
}

.kill__button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  background-image: url("img/redx.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20px;
  min-width: 20px;
}

.kill__button:hover {
  opacity: 0.5;
}

.xpRow {
  width: 200px;
}

.float_right_group {
  display: flex;
  position: relative;
  margin-top: 15px;
  float: right;
  justify-content: flex-end;
}

.float_right_group>button {
  margin-left: 5px;
}

.addPlayer {
  bottom: 1em;
  position: absolute;

  left: 1em;
  font-size: 20px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

/* Close Button */

.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
}