
#form, #data-container, div, #container, #data, body {
    background-image:url("img/phbbg.png") !important;
    background-size:cover;
    background-color: transparent;
    font-family: "roboto condensed";
}
#cancel, #ok{

  color: white;
  font-family: "Impact, fantasy";
  font-size: 14px;
  background-color: #58180D;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 300ms;
  border: none;
  border-bottom: 2px solid rgb(61, 17, 9);
}

#cancel:hover, #ok:hover {
  background-color:#DE3C2B;
}