


main{
    margin-top:20px;
    padding-bottom:50px;
}

#maxAutoLoads{
    width:40px;
}

.help_label{
    cursor:help;
}

.italic{
    font-style: italic;
    margin-left:10px;
    color:rgb(121, 121, 121);
  }
  
  .settings_header{
      cursor: pointer;
      text-align:center;
      margin:15px;
      width:100%;

  }
    .settings_header:hover{
      background-color:rgba(194, 140, 29, 0.4);
      
      
  }
.success_message{
    position:absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    z-index:1;
    background-color: #60A163;
    color: #003F02;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding:20px;
    border-radius:5px;

  }

  .success_bg {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
