button {
    color: white;

}

input {
    border-radius: var(--rounded-corners);
}

#connect_container input {
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.toolbar {
    position: absolute;

    z-index: 500000;
    min-width: 4em;
    left: 0.25em;
    width: 5vw;
    top: 1em;

    border-radius: 100px;
    background-color: #00000085;
    position: absolute;
    padding: 0.5em;
}

.toolbar>.tool_container {
    margin: auto;
    height: 83%;
}

.toolbar .toggle_button:hover, .toolbar .toggle_button[toggled="true"], .toolbar .togglable:hover, .toolbar .togglable[toggled="true"] {
    filter: contrast(40%) sepia(1) hue-rotate(20deg) saturate(1000%);
    background-color: transparent !important;
}


.toolbar #fov_perspective_dropdown {
    background-color: transparent;
    border: none;
    width: 5.5em;
    margin: 0;
    padding: 0.5em;
    margin-left: -6px;
    font-size: 1em;

}

#fov_perspective_dropdown option {
    background-color: black;
    border: none;
}

.toolbar .toggle_button, .toolbar .togglable {
    width: 3.5em;
    height: 3.5em;
    background-color: transparent;
    margin: auto;
    background-size: 71%;
    background-position: center !important;

}

#connection_status {
    height: 2em;
    margin: auto;
    width: 2em;
    border-radius: 50%;
    background-color: var(--color-red);

}

.connected {
    background-color: var(--main-success-color-lighter) !important;

}

#connect_container {
    max-width: 30em;

    padding: 1.25em;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: auto;
}

.hamburger {
    background-image: url("./img/hamburger-menu.svg");
}

.toolbar_collapsed>*:not(:first-child) {
    display: none;
}

.loading_ele_cont {
    z-index: 999999 !important;
}

.loading_ele {

    background-image: url(css/img/icon.png) !important;


}

#tooltip {
    left: 50%;
    top: 1em;
    font-size: 1.7em;
    transform: translateX(-50%);
    padding: 0.25em;
    background-color: rgba(0, 0, 0, 0.5);
}


@media (min-width: 800px) {

    #connect_container {

        width: 20em;

    }

}